---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


<h2>Journal Articles</h2>
{% for post in site.publications reversed %}
  {% if post.pubtype == 'journal' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Conference Papers</h2>
<ul>
  <li><strong>Zhou, Y.</strong>, Song, X., & Zhou, M. (2021). Supply chain fraud prediction based on XGBoost method. Proceedings of the 2021 IEEE 2nd International Conference on Big Data, Artificial Intelligence and Internet of Things Engineering (ICBAIE) (pp. 539-542).</li>
  <li><strong>Zhou, Y.</strong>, Cheng, Y., Lin, Y., & Mengqiu, T. (2021). Sales Forecasting Using GBDT Based Model and Data Mining Method. 2021 IEEE International Conference on Consumer Electronics and Computer Engineering (ICCECE) (pp. 398-401).</li>
</ul>

<h2>Under Review</h2>
<ul>
  <li><strong>Zhou, Y.</strong>, Wu, T., & Guan, C. (Under Review). How perceived residential environments affect neighborhood park visitation? A nonlinear analysis of mobile data and street view imagery.</li>
  <li>Wu, L., <strong>Zhou, Y.</strong>, Nie, X., Kim, S. K., Guan, C., & Shao, Y. (Revise and Resubmit). Buffering effects of green space on residents’ mental wellbeing: A regression discontinuity analysis during “exiting from zero-COVID” period.</li>
  <li>Wu, L., <strong>Zhou, Y.</strong>, Nie, X., & Guan, C. (Under Review). Enhancing subjective well-being through community and demographical moderators in planning indoor and outdoor green spaces.</li>
  <li>Song, J., Guan, C., <strong>Zhou, Y.</strong>, Akiyama, Y., & Shibasaki, R. (Revise and Resubmit). Planning implications of visitor-oriented urban park categorization: An application of home-park trip characteristics from mobile phone data.</li>
  <li>Xie, H., You, M., Guan, C., Lin, T., <strong>Zhou, Y.</strong>, Li, C., Xiao, Y., Wang, X., & Liu, X. (Under Review). Towards an equality evaluation mechanism of urban green space quality: A case study of Fuzhou, China.</li>
  <li>Guan, C., Zhong, H., <strong>Zhou, Y.</strong>, Srinivasan, S., Zhang, B., & Nielsen, C. P. How do young adults’ choices of active travel influence the planning of low-carbon cities? (Under Review).</li>
</ul>
